:root {
    --text-blue: #1db3cb;
    --text-red: #e05a4e;
    --text-yellow: #ffb541;
    --text-white: #ffffff;
}

/* Home Page Styles */
@media screen and (min-width: 601px) {
    .home-text {
        color: var(--text-white);
        font-family: acumin-pro-condensed, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 2vw;
    }
}
  
/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
    .home-text {
        color: var(--text-white);
        font-family: acumin-pro-condensed, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 5vw;
    }
}

.home-header {
    color: var(--text-white);
    font-size: xx-large;
    font-family: neue-kabel, sans-serif;
    font-weight: 800;
    font-style: normal;
}

/* About Page Styles */
@media screen and (min-width: 601px) {
    .about-header {
        color: var(--text-blue);
        font-size: xxx-large;
        font-family: neue-kabel, sans-serif;
        font-weight: 800;
        font-style: normal;
    }
}
  
/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
    .about-header {
        color: var(--text-blue);
        font-size: xx-large;
        font-family: neue-kabel, sans-serif;
        font-weight: 800;
        font-style: normal;
    }
}

/* Episodes Page Styles */

@media screen and (min-width: 601px) {
    .episodes-header {
        color: var(--text-red);
        font-size: xxx-large;
        font-family: neue-kabel, sans-serif;
        font-weight: 800;
        font-style: normal;
    }

    .episode-card-description {
        color: var(--text-white);
        font-family: acumin-pro-condensed, sans-serif;
        font-weight: 400;
        font-style: normal;
        width: calc(300px + 15vw);
        font-size: calc(2vw);
    } 

    .episode-card-title {
        color: var(--text-red);
        font-size: xxx-large;
        font-family: neue-kabel, sans-serif;
        font-weight: 800;
        font-style: normal;
        width: 100%;
    }
}
  
/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
    .episodes-header {
        color: var(--text-red);
        font-size: xx-large;;
        font-family: neue-kabel, sans-serif;
        font-weight: 800;
        font-style: normal;
    }
    .episode-card-description {
        color: var(--text-white);
        font-family: acumin-pro-condensed, sans-serif;
        font-weight: 400;
        font-style: normal;
        width: calc(300px + 15vw);
        font-size: 5vw;
    }

    .episode-card-title {
        color: var(--text-red);
        font-size: xx-large;
        font-family: neue-kabel, sans-serif;
        font-weight: 800;
        font-style: normal;
        width: 100%;
    }
}

.episode-paginate-button {
    font-family: neue-kabel, sans-serif;
    font-weight: 800;
    font-style: normal;
}

/* Contact Page Styles */
@media screen and (min-width: 601px) {
    .contact-text { 
        color: var(--text-white);
        font-family: acumin-pro-condensed, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 2vw;
    }
    .contact-header {
        color: var(--text-yellow);
        font-size: xxx-large;
        font-family: neue-kabel, sans-serif;
        font-weight: 800;
        font-style: normal;
    }
}
  
/* If the screen size is 600px wide or less */
@media screen and (max-width: 600px) {
    .contact-text { 
        color: var(--text-white);
        font-family: acumin-pro-condensed, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 5vw;
    }
    .contact-header {
        color: var(--text-yellow);
        font-size: xx-large;
        font-family: neue-kabel, sans-serif;
        font-weight: 800;
        font-style: normal;
    }
}

.contact-submit-button {
    font-family: neue-kabel, sans-serif;
    font-weight: 800;
    font-style: normal;
}

